<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- CONEXIÓN CON LA BASE DE DATOS -->
	<connectionStrings>
		<add name ="dbConnection"
			connectionString ="Data Source = ADOMIN\SQLEXPRESS; Initial Catalog = gimnasioDB; Integrated = True"
			providerName = "System.Data.SqlClient"
		/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>